body
{
	width:80%;
	margin:auto;
	font-size:100%;
	background-color:#F0F0F0;
}
.row
{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.content
{
	background-color: white;
	height: 95%;
}
.col1
{
	width:8.33%;

}
.col2
{
    width:16.66%;
}
.col3
{
	width:24.99%;
}
.col4
{
	width:33.32%;
}
.col5
{
	width:41.5%;
}
.col6
{
	width:49.98%;
}
.col12
{
	width:100%;
}

.anchor
{
	text-decoration: none;
	display:block; 
	color:black;
	text-align: center;
	font-family: 'Open Sans', sans-serif;;
    overflow:none;
   background-color:#00FFFF;
	
	

	
}
a:hover
{
	color:white;
}
.h1-style
{
font-family: 'Oswald', sans-serif;

}
.footer
{
	text-align: center;
}
.row img
{
	width:80%;
}
@media only screen and (min-width:240px) and (max-width:568px)
{
	body
	{
		width:100%;
		background-color: white;
	}
	

}